<div class="container pt-5" style="min-height: calc(100vh - 56px);">
    <div class="jumbotron">
        <h2>MEAN Setup</h2>
        <h5>This is simple MEAN stack setup including gulp configuration</h5>
    </div>

    <div data-ui-view></div>

</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="mailto:pawelswojnarowski@gmail.com">Developed by pawelswojnarowski@gmail.com</a>
        </li>
    </ul>
</nav>