<div class="card flex-md-row mb-4" ng-repeat="post in vm.posts">
    <div class="flex-auto d-none d-lg-block align-items-start photo" ng-style="{'background-image': 'url({{ post.photos[0] }})'}"></div>
    <div class="card-body d-flex flex-column">
        <h4>{{ post.title }}</h4>
        <p class="card-body p-0">{{ post.content | limitTo: 650 }}</p>
        <p style="position:absolute; right: 10px; bottom: 0;">
            <a ng-if="post.content.length >= 50" ui-sref="mainSite.post({ id: post._id })">continue reading ></a>
        </p>
    </div>
</div>